[Unit]
Description=Sektor Robot

[Service]
Type=simple
User=root
Group=wheel
Restart=always
ExecStartPre=stty -F /dev/ttyS0 9600 && gpsd /dev/ttyS0 -F /var/run/gpsd.socket
PIDFile=/var/run/sektor/service.pid
ExecStart=/opt/sektor/boot.sh start
ExecStop=/opt/sektor/boot.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
